.extreme {
    background: red;
    width: 100px;
    height: 100px;
    color: white;
    position: relative;
    animation: leftright 10s infinite;
}

@keyframes leftright{
    0%   {
	left: 0px;
	background: red;
    }
    25%  {
	left: 100px;
	background: blue;
    }
    50%  {
	left: 500px;
	background: yellow;
    }
    75%  {
	left: 300px;
	background: green;
    }
    100% {
	left: 0px;
	background: red;
    }
}

.navzone {
    background: yellow;
}

.prose {
    
}

#tehlulz{
    border-style: solid;
    border-width: 10px;
    border-color: green;
    font-family: 'Press Start 2P', cursive;
}

#head1{
    background: white;
    font-size: 10px;
    text-align: center;
    animation: yes 4s ease infinite;
}


@keyframes yes{
    0%,
    100% {
	text-shadow: 0 0 1vw black;
	color: yellow;
    }
    50% {
	text-shadow: 0 0 .5vw grey;
	color: #696520;
    }
}

